* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  min-height: 100vh;
}

h1 {
  font-size: 100px;
}

h1,
form {
  min-height: 20vh;
  text-align: center;
}

.input,
.add {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  transition: all 0.3s;
}

.add {
  cursor: pointer;
}

.add:hover {
  background-color: #010836;
  color: white;
}

li {
  min-width: 30%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  list-style: none;
  margin: 0.5rem;
  transition: all 0.8s;
}
h2 {
  font-size: 80px;
  text-align: center;
}

.okButton,
.trashButton {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.okButton {
  background-color: rgb(73, 204, 73);
}

.trashButton {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  transform: rotateX(360deg);
}
.del {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
